0 - Invocando as Bibliotecas Necessárias

In [27]:
import pandas as pd
import sqlalchemy as sq
from sqlalchemy import text, create_engine, MetaData, Table, Column, Integer, String, ForeignKey, Date, Float
import pyodbc as po
import pymysql as pm

1 - Criando a Conexão com o SGBD:

In [26]:
url = 'mysql+pymysql://root:1508@localhost:3306/ubsi' # define o acesso ao MySQL

engine = sq.create_engine(url, echo=True) # cria a Conexão

con = engine.connect()

metadata = MetaData()

2024-09-08 15:40:22,465 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-09-08 15:40:22,466 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-08 15:40:22,473 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-09-08 15:40:22,475 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-08 15:40:22,478 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-09-08 15:40:22,480 INFO sqlalchemy.engine.Engine [raw sql] {}

2 - Criando as Tabelas:

In [28]:
tabela1 = Table('ft_atendimento', metadata,
    Column('atendimento_id', Integer, primary_key=True, autoincrement=True),
    Column('data', Date, nullable=False),
    Column('cartao_sus', String(50), nullable=False),
    Column('paciente', String(70), nullable=False),
    Column('ubs_id', Integer, ForeignKey('dm_unidade_saude.ubs_id'),nullable=False),
    Column('medico_id', Integer, ForeignKey('dm_medico.medico_id'),nullable=False),
    Column('especialidade_id', Integer, ForeignKey('dm_especialidade.especialidade_id'),nullable=False)
)

tabela2 = Table('dm_unidade_saude', metadata,
                Column('ubs_id', Integer, primary_key=True, autoincrement=True),
                Column('nome', String(50),nullable=False),
                Column('ubs_bairro', String(70), nullable=False)
                )

tabela3 = Table('dm_medico', metadata,
                Column('medico_id', Integer, primary_key=True, autoincrement=True),
                Column('nome', String(70), nullable=False),
                Column('comissao', Float, nullable=False)
                )

tabela4 = Table('dm_especialidade', metadata,
               Column('especialidade_id', Integer, primary_key=True, autoincrement=True),
               Column('especialidade', String(150), nullable=False),
               Column('custo', Float, nullable=False)
               )

metadata.create_all(engine)

2024-09-08 16:14:05,634 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-08 16:14:05,659 INFO sqlalchemy.engine.Engine DESCRIBE `ubsi`.`ft_atendimento`
2024-09-08 16:14:05,662 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-08 16:14:05,741 INFO sqlalchemy.engine.Engine DESCRIBE `ubsi`.`dm_unidade_saude`
2024-09-08 16:14:05,742 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-08 16:14:05,746 INFO sqlalchemy.engine.Engine DESCRIBE `ubsi`.`dm_medico`
2024-09-08 16:14:05,747 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-08 16:14:05,750 INFO sqlalchemy.engine.Engine DESCRIBE `ubsi`.`dm_especialidade`
2024-09-08 16:14:05,751 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-08 16:14:05,801 INFO sqlalchemy.engine.Engine
CREATE TABLE dm_unidade_saude (
	ubs_id INTEGER NOT NULL AUTO_INCREMENT,
	nome VARCHAR(50) NOT NULL,
	ubs_bairro VARCHAR(70) NOT NULL,
	PRIMARY KEY (ubs_id)
)


2024-09-08 16:14:05,802 INFO sqlalchemy.engine.Engine [no key 0.00175s] {}
2024-09-08 16:14:05,955 INFO sqlalchemy.engine.Engine
CREATE TABLE dm_medico (
	medico_id INTEGER NOT NULL AUTO_INCREMENT,
	nome VARCHAR(70) NOT NULL,
	comissao FLOAT NOT NULL,
	PRIMARY KEY (medico_id)
)


2024-09-08 16:14:05,956 INFO sqlalchemy.engine.Engine [no key 0.00078s] {}
2024-09-08 16:14:06,003 INFO sqlalchemy.engine.Engine
CREATE TABLE dm_especialidade (
	especialidade_id INTEGER NOT NULL AUTO_INCREMENT,
	especialidade VARCHAR(150) NOT NULL,
	custo FLOAT NOT NULL,
	PRIMARY KEY (especialidade_id)
)


2024-09-08 16:14:06,003 INFO sqlalchemy.engine.Engine [no key 0.00080s] {}
2024-09-08 16:14:06,035 INFO sqlalchemy.engine.Engine
CREATE TABLE ft_atendimento (
	atendimento_id INTEGER NOT NULL AUTO_INCREMENT,
	data DATE NOT NULL,
	cartao_sus VARCHAR(50) NOT NULL,
	paciente VARCHAR(70) NOT NULL,
	ubs_id INTEGER NOT NULL,
	medico_id INTEGER NOT NULL,
	especialidade_id INTEGER NOT NULL,
	PRIMARY KEY (atendimento_id),
	FOREIGN KEY(ubs_id) REFERENCES dm_unidade_saude (ubs_id),
	FOREIGN KEY(medico_id) REFERENCES dm_medico (medico_id),
	FOREIGN KEY(especialidade_id) REFERENCES dm_especialidade (especialidade_id)
)


2024-09-08 16:14:06,037 INFO sqlalchemy.engine.Engine [no key 0.00212s] {}
2024-09-08 16:14:06,144 INFO sqlalchemy.engine.Engine COMMIT