## TEMA 3: MANIPULANDO BANCOS DE DADOS COM PYTHON

In [3]:
import sqlite3 # Carrega o Conector SQLITE3

### CRIANDO UMA TABELA COM O CONECTOR SQLITE3

In [4]:
# Abrir uma conexão com o banco de dados:
conn = sqlite3.connect('exemplo.db')

# Criar um cursor para executar comandos SQL:
cursor = conn.cursor()

# Criar uma tabela:
cursor.execute('''
               CREATE TABLE IF NOT EXISTS usuarios (
                   id INTEGER PRIMARY KEY,
                   nome TEXT,
                   idade INTEGER
                )
                ''')

### INSERINDO DADOS NA TABELA CRIADA

In [5]:
cursor.execute("INSERT INTO usuarios(nome,idade) VALUES(?,?)",('Alice',30)) # recebe os dados e os insere no banco de dados
cursor.execute("INSERT INTO usuarios(nome,idade) VALUES(?,?)",('Bob',25))
conn.commit() # faz o commit dos dados para que eles se tornem persistentes no banco de dados

### REALIZAR UMA CONSULTA AO BANCO DE DADOS

In [10]:
cursor.execute("SELECT * FROM usuarios")
print("Registros na Tabela:")
for registro in cursor.fetchall():
    print(registro)

Registros na Tabela:
(1, 'Alice', 30)
(2, 'Bob', 25)
(4, 'Paula', 25)

### ATUALIZAR REGISTROS NO BANCO DE DADOS

In [7]:
cursor.execute("UPDATE usuarios SET nome = ? WHERE id = ?", ('Carlos',3))
cursor.execute("UPDATE usuarios SET nome = ? WHERE id = ?", ('Paula',4))
conn.commit()

### EXCLUINDO REGISTROS

In [9]:
cursor.execute("DELETE FROM usuarios WHERE id = ?",(3,))
conn.commit()

### FECHANDO O CURSOR E A CONEXÃO COM O BANCO DE DADOS

In [11]:
cursor.close() # fecha o cursor
conn.close() # fecha a conexão com o banco de dados